Source: ros-indigo-minas
Section: misc
Priority: extra
Maintainer: Tokyo Opensource Robotics Kyokai (TORK) Developer Team <dev@opensource-robotics.tokyo.jp>
Build-Depends: debhelper (>= 9.0.0), ros-indigo-catkin
Homepage: http://ros.org/wiki/minas
Standards-Version: 3.9.2

Package: ros-indigo-minas
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-indigo-ethercat-manager, ros-indigo-minas-control, ros-indigo-tra1-bringup, ros-indigo-tra1-description, ros-indigo-tra1-moveit-config
Description: Meta package for minas for PANASONIC MINAS EtherCAT Motor Driver Control System
